# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


log.txt
Thread.iml
thread03/thread03.iml
thread03/target
thread02/thread02.iml
thread01/thread01.iml
thread06/target
thread06/thread06.iml
thread05/thread05.iml
thread05/target
thread04/thread04.iml
thread04/target